<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
        xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.springframework.org/schema/security"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd
						   http://www.springframework.org/schema/security
						   http://www.springframework.org/schema/security/spring-security.xsd">

    <http security="none" use-expressions="true" pattern="/static/**"/>

    <http auto-config="true" use-expressions="true" access-denied-page="/e/auth/denied">

        <session-management>
            <concurrency-control max-sessions="5" expired-url="/e/auth/duplicateLogin"/>
        </session-management>

        <intercept-url pattern="/e/*" access="hasRole('ROLE_USER')"/>
        <intercept-url pattern="/e/main/*" access="hasRole('ROLE_USER')"/>

        <intercept-url pattern="/e/auth/login" access="permitAll"/>

        <headers>
            <cache-control/>
            <!--for no-cache, no-store-->
        </headers>

        <form-login
                login-page="/e/auth/login?lang=en"
                authentication-failure-url="/e/auth/login?error=true"
                authentication-success-handler-ref="authenticationSuccessHandler"
                default-target-url="/e/home"
                username-parameter="username"
                password-parameter="password"/>

        <logout
                invalidate-session="true"
                logout-success-url="/e/auth/login"
                logout-url="/e/auth/logout"/>

    </http>

    <beans:bean id="authenticationSuccessHandler"
                class="com.eagle.portal.web.main.security.LoginSuccessHandler">
        <beans:property name="alwaysUseDefaultTargetUrl" value="true"/>
    </beans:bean>

    <global-method-security secured-annotations="enabled"/>

    <!-- Declare an authentication-manager to use a custom userDetailsService -->
    <authentication-manager>
        <authentication-provider user-service-ref="customUserDetailsService">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>

    <!-- Using a BCrypt encoder since Spring recommends to use it (over MD5 or SHA) -->
    <beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <beans:constructor-arg name="strength" value="10"/>
    </beans:bean>

    <!-- A custom service where Spring will retrieve users and their corresponding access levels  -->
    <beans:bean id="customUserDetailsService"
                class="com.eagle.portal.web.main.security.UserDetailsServiceImpl"/>

    <beans:bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <beans:property name="targetClass">
            <beans:value>org.springframework.security.core.context.SecurityContextHolder</beans:value>
        </beans:property>
        <beans:property name="targetMethod">
            <beans:value>setStrategyName</beans:value>
        </beans:property>
        <beans:property name="arguments">
            <beans:list>
                <beans:value>MODE_INHERITABLETHREADLOCAL</beans:value>
            </beans:list>
        </beans:property>
    </beans:bean>

</beans:beans>
